main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body,
main {
  overflow-x: hidden;
  /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),  url("./assets/images/fold.jpg");  blur img*/ 
  background-image: url("./assets/images/fold.jpg");
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--slate);
  font-family: 'Poiret One', cursive;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

button:hover {
  opacity: 0.8;
}

.home {
  position: absolute;
  top: 200px;
  left: 200px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.aboutInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
  .myImg {
    border: solid;
    height: 300px;
  }

 .aboutMe {
  font-size: 20px;
  background-color: rgba(11, 0, 12, 0.5);
  border: solid;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
 }


.work {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
margin: 50px 0;
}

.watchTime {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}



.watchTime img {
  transition: transform .5s ease;
}

.overlay, .overlay2, .overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.watchTime:hover .overlay {
  opacity: 1;
}
.time2Work:hover .overlay2{
  opacity: 1;
}
.bookeeper2Go:hover .overlay3{
  opacity: 1;
}


.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.time2Work {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
}

.bookeeper2Go {
  position: relative;
  overflow: hidden;
  padding: 20px 0;

}



.resumeInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 200px 0;

}

.borderInfo {
  border: solid;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
}
.borderInfo h1, h2 {
  margin: 20px;
}
.skill {
  margin: 20px 300px;
  list-style: none;
}


#contact-form {
  margin: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;



}

input {
  color: #fff;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);

}

.message {
 
  width: 500px;
  height: 150px;
}
.contactInfo {
  display: flex;
  
  margin: 130px 0;
  align-items: center;
  flex-direction: column;
}

.contactMe {
 display: flex;
 align-items: center;
}

.contactP {

  text-align: center;
  align-items: center;
  border-radius: 1%;
  font-size: 20px;
  margin: 10px;
}

.test {
  margin: 10px;
  width: 26%;
    border: solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.name {
  width: 500px;
}

.email {
  width: 500px;
}










   @media screen and (max-width: 1200px) {

    
html,
  body,
  main{
        height: 670px;
        background-repeat: no-repeat;
        background-position: center;
  }
   }


   @media screen and (max-width: 800px) {

    .home {
      position: absolute;
      top: 200px;
      left: 90px;
    }
    html,
    body,
    main {
      overflow-x: hidden;
       background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url("./assets/images/fold.jpg"); 
      /* background-image: url("./assets/images/fold.jpg")radial-gradient(0.5); */
      background-size: cover;
    }
    .aboutMe {
      display: flex;
      text-align: center;
      width: 100%;
      font-size: 15px;
    }

    .aboutInfo img {

      height: 50px;
      width: 50px;
      margin: 10px 85px;

     
    }

    .about {
      display: flex;
      align-items: center;
      margin: 0 110px;
    }

    .resume {
      font-size: 15px;
      margin: 50px;
    }
    .resume h1 {
      font-size: 20px;
    }
    .resume h2 {
      font-size: 15px;
    }
       }

       @media screen and (max-width: 900px) {

        .home {
          position: absolute;
          top: 200px;
          left: 90px;
        }
        html,
        body,
        main {
          overflow-x: hidden;
           background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url("./assets/images/fold.jpg"); 
          /* background-image: url("./assets/images/fold.jpg")radial-gradient(0.5); */
          background-size: cover;
        }

        .aboutMe {
          display: flex;
          text-align: center;
        }
           }
